<section class="articles-container">
    <div class="placeholder">
        <h1>Hi, this zone is under construction.<br>Grab a hard hat</h1>
        <p> We are building a space where we will discuss interesting papers that we come across and deep-dives about specific topics that genuinely excite us.</p>
    </div>
    <div class="featured-articles-container">
        <div class="main-hero-featured-articles-container"></div>
        <div class="hero-featured-articles-container"></div>
    </div>
    <div class="archived-articles-container"></div>
</section>