<section class="footer-container">
    <section class="Credits">
        <p>Credits: Site header created using icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="Optional("http://file005.flaticon.com/downloads/license/license.pdf")" title="Optional("Flaticon Basic")">Optional("Flaticon Basic")</a></p>  
    </section>
    <section class="About Us"></section>
</section>