body, h1, h2 {
  margin: 0px 0px;
  padding: 0px 0px;
}

body {
  background-color: #FFF;
  font-family: roboto;
  font-size: 18px;
}

a:link, a:visited, a:active {
  text-decoration: underline;
  color: #41B3D7;
}

a:hover {
  text-decoration: none;
  color: #FFF;
  background-color: #41B3D7;
}

/* Styles for the Home Page */
/* Styles for the Header section. Contains the Logo and the navigation bar */
.home-page-header h1 {
  text-indent: -9999px;
  background-image: url(../img/site-logo.svg);
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 5px;
  background-size: contain;
}

.home-page-nav {
  margin-top: 5px;
}

.home-page-nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
  padding: 5px;
}

.home-page-nav ul li {
  display: inline;
}

.home-page-nav ul li a {
  color: #4A4A4A;
  text-decoration: none;
  font-family: roboto condensed;
  padding: 3px 3px;
  border-radius: 3px;
}

.home-page-nav ul li a:hover {
  text-decoration: none;
  color: #FFF;
  background-color: #41B3D7;
}

@media (max-width: 425px) {
  .home-page-header h1{
    height: 30px;
    padding: 0px 3px;
  }
  .home-page-nav ul li a {
    font-size: 0.85em;
  }
}

@media (min-width: 426px) {
  .home-page-header h1{
    height: 50px;
  }
}

/* Styles for the post section */
/* Styles for the header section. Contains the Logo and the social media icon */
.article-page-header, .site-logo, h1, ul {
  margin: 0px;
  padding: 0px;
}

/* Style for Mobile */
@media (max-width: 425px) {
  .article-page-header .site-logo h1 {
    text-indent: -9999px;
    background-image: url(../img/site-logo.svg);
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 5px;
    background-size: contain;
    float: left;
    padding-top: 5px;
    width: 75%;
  }
  .article-page-header ul {
    list-style-type: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-right: 2.5px;
  }
  .article-page-header ul li {
    display: inline;
  }
  .social-media-icons {
    float: right;
    height: 30px;
    padding: 5px 2px;
  }
}

@media (min-width: 426px) {
  .article-page-header ul {
    list-style-type: none;
    text-align: center;
  }
  .article-page-header ul li {
    display: inline-block;
  }
  .article-page-header .site-logo h1 {
    text-indent: -9999px;
    background-image: url(../img/site-logo.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 360px;
    margin-right: 15px;
  }
  .social-media-icons {
    height: 30px;
    margin-top: 5px;
  }
}
