---
layout: default
---

<header class="article-page-header">
  <ul>
    <li class="site-logo"><a href="/">{% include header.html %}</a></li>
    <li><a href="https://www.twitter.com/TheSaturdayJC"><img src="{{site.baseurl}}/assets/img/twitter-logo.svg" alt="twitter" class="social-media-icons"/></a></li>
    <li><a href="https://www.facebook.com/saturdayjc"><img src="{{site.baseurl}}/assets/img/facebook-logo.svg" alt="facebook" class="social-media-icons"/></a></li>
  </ul>
</header>

{{content}}
